:root {
  font-family: var(--font-family-base);
}

html,
body,
#storybook-root {
  height: 100%;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-14);
  line-height: var(--line-20);
  color: var(--semantic-text-primary);
  background: var(--semantic-background-base);
  margin: 0;
}

