:root {
  --color-fill-neutral-25: #f5f5f5;
  --color-stroke-neutral-25: #f5f5f5;
  --color-icon-neutral-25: #f5f5f5;
  --color-fill-neutral-50: #8a8a8a;
  --color-stroke-neutral-50: #8a8a8a;
  --color-icon-neutral-50: #8a8a8a;
  --color-fill-neutral-100: #5a5a5a;
  --color-stroke-neutral-100: #5a5a5a;
  --color-icon-neutral-100: #5a5a5a;
  --color-fill-neutral-200: #3a3a3a;
  --color-stroke-neutral-200: #3a3a3a;
  --color-icon-neutral-200: #3a3a3a;
  --color-fill-neutral-300: #2b2b2b;
  --color-stroke-neutral-300: #2b2b2b;
  --color-icon-neutral-300: #2b2b2b;
  --color-fill-neutral-400: #212121;
  --color-stroke-neutral-400: #212121;
  --color-icon-neutral-400: #212121;
  --color-fill-neutral-500: #1e1e1e;
  --color-stroke-neutral-500: #1e1e1e;
  --color-icon-neutral-500: #1e1e1e;
  --color-fill-neutral-600: #181818;
  --color-stroke-neutral-600: #181818;
  --color-icon-neutral-600: #181818;
  --color-fill-neutral-700: #121212;
  --color-stroke-neutral-700: #121212;
  --color-icon-neutral-700: #121212;
  --color-fill-neutral-800: #0d0d0d;
  --color-stroke-neutral-800: #0d0d0d;
  --color-icon-neutral-800: #0d0d0d;
  --color-fill-neutral-850: #0c0c0c;
  --color-stroke-neutral-850: #0c0c0c;
  --color-icon-neutral-850: #0c0c0c;
  --color-fill-neutral-900: #0a0a0a;
  --color-stroke-neutral-900: #0a0a0a;
  --color-icon-neutral-900: #0a0a0a;
  --color-fill-neutral-950: #080808;
  --color-stroke-neutral-950: #080808;
  --color-icon-neutral-950: #080808;
  --color-fill-brand-25: #fbfae5;
  --color-stroke-brand-25: #fbfae5;
  --color-icon-brand-25: #fbfae5;
  --color-fill-brand-50: #f8f6c9;
  --color-stroke-brand-50: #f8f6c9;
  --color-icon-brand-50: #f8f6c9;
  --color-fill-brand-100: #f1eea3;
  --color-stroke-brand-100: #f1eea3;
  --color-icon-brand-100: #f1eea3;
  --color-fill-brand-200: #eae67e;
  --color-stroke-brand-200: #eae67e;
  --color-icon-brand-200: #eae67e;
  --color-fill-brand-300: #e5e165;
  --color-stroke-brand-300: #e5e165;
  --color-icon-brand-300: #e5e165;
  --color-fill-brand-400: #e3df5f;
  --color-stroke-brand-400: #e3df5f;
  --color-icon-brand-400: #e3df5f;
  --color-fill-brand-500: #e0dd5b;
  --color-stroke-brand-500: #e0dd5b;
  --color-icon-brand-500: #e0dd5b;
  --color-fill-brand-600: #c9c652;
  --color-stroke-brand-600: #c9c652;
  --color-icon-brand-600: #c9c652;
  --color-fill-brand-700: #b1ae48;
  --color-stroke-brand-700: #b1ae48;
  --color-icon-brand-700: #b1ae48;
  --color-fill-brand-800: #8f8d38;
  --color-stroke-brand-800: #8f8d38;
  --color-icon-brand-800: #8f8d38;
  --color-fill-brand-900: #6a6728;
  --color-stroke-brand-900: #6a6728;
  --color-icon-brand-900: #6a6728;
  --color-fill-brand-950: #3e3b15;
  --color-stroke-brand-950: #3e3b15;
  --color-icon-brand-950: #3e3b15;
  --color-fill-feedback-success-50: #dde6d9;
  --color-stroke-feedback-success-50: #dde6d9;
  --color-fill-feedback-success-100: #c6d3c1;
  --color-stroke-feedback-success-100: #c6d3c1;
  --color-fill-feedback-success-200: #a8b9a2;
  --color-stroke-feedback-success-200: #a8b9a2;
  --color-fill-feedback-success-300: #8ca286;
  --color-stroke-feedback-success-300: #8ca286;
  --color-fill-feedback-success-400: #6f8969;
  --color-stroke-feedback-success-400: #6f8969;
  --color-fill-feedback-success-500: #5f7b52;
  --color-stroke-feedback-success-500: #5f7b52;
  --color-fill-feedback-success-600: #506845;
  --color-stroke-feedback-success-600: #506845;
  --color-fill-feedback-success-700: #43563a;
  --color-stroke-feedback-success-700: #43563a;
  --color-fill-feedback-success-800: #36452f;
  --color-stroke-feedback-success-800: #36452f;
  --color-fill-feedback-success-900: #283625;
  --color-stroke-feedback-success-900: #283625;
  --color-fill-feedback-success-950: #151d14;
  --color-stroke-feedback-success-950: #151d14;
  --color-fill-feedback-warning-50: #f0e7d1;
  --color-stroke-feedback-warning-50: #f0e7d1;
  --color-fill-feedback-warning-100: #e4d6b1;
  --color-stroke-feedback-warning-100: #e4d6b1;
  --color-fill-feedback-warning-200: #d6c28c;
  --color-stroke-feedback-warning-200: #d6c28c;
  --color-fill-feedback-warning-300: #c7ae69;
  --color-stroke-feedback-warning-300: #c7ae69;
  --color-fill-feedback-warning-400: #b9964e;
  --color-stroke-feedback-warning-400: #b9964e;
  --color-fill-feedback-warning-500: #a88940;
  --color-stroke-feedback-warning-500: #a88940;
  --color-fill-feedback-warning-600: #937637;
  --color-stroke-feedback-warning-600: #937637;
  --color-fill-feedback-warning-700: #7a612d;
  --color-stroke-feedback-warning-700: #7a612d;
  --color-fill-feedback-warning-800: #614c23;
  --color-stroke-feedback-warning-800: #614c23;
  --color-fill-feedback-warning-900: #4a391a;
  --color-stroke-feedback-warning-900: #4a391a;
  --color-fill-feedback-warning-950: #241d0e;
  --color-stroke-feedback-warning-950: #241d0e;
  --color-fill-feedback-error-50: #f0dcdc;
  --color-stroke-feedback-error-50: #f0dcdc;
  --color-fill-feedback-error-100: #e6c0c0;
  --color-stroke-feedback-error-100: #e6c0c0;
  --color-fill-feedback-error-200: #d59e9e;
  --color-stroke-feedback-error-200: #d59e9e;
  --color-fill-feedback-error-300: #c17b7b;
  --color-stroke-feedback-error-300: #c17b7b;
  --color-fill-feedback-error-400: #ad5e5e;
  --color-stroke-feedback-error-400: #ad5e5e;
  --color-fill-feedback-error-500: #9e4b4b;
  --color-stroke-feedback-error-500: #9e4b4b;
  --color-fill-feedback-error-600: #894141;
  --color-stroke-feedback-error-600: #894141;
  --color-fill-feedback-error-700: #703636;
  --color-stroke-feedback-error-700: #703636;
  --color-fill-feedback-error-800: #572b2b;
  --color-stroke-feedback-error-800: #572b2b;
  --color-fill-feedback-error-900: #3f2020;
  --color-stroke-feedback-error-900: #3f2020;
  --color-fill-feedback-error-950: #1f1010;
  --color-stroke-feedback-error-950: #1f1010;
  --color-text-primary: #e5e5e5;
  --color-text-secondary: #838383;
  --color-text-muted: #6b6b6b;
  --color-text-inverse: #080808;
  --color-text-hover: #ffffff;
  --border-widths-mode-1-tracer-path: #4fe8d4;
  --border-widths-mode-1-boolean: false;
  --border-widths-mode-1-border-width-thin: 1px;
  --border-widths-mode-1-border-width-medium: 2px;
  --border-widths-mode-1-border-width-thick: 4px;
  --border-widths-mode-1-border-width-hairline: 0.5px;
  --typography-mode-1-font-family-ibm-plex-sans: IBM Plex Sans;
  --typography-mode-1-font-size-10: 10px;
  --typography-mode-1-font-size-11: 11px;
  --typography-mode-1-font-size-12: 12px;
  --typography-mode-1-font-size-14: 14px;
  --typography-mode-1-font-size-16: 16px;
  --typography-mode-1-font-size-18: 18px;
  --typography-mode-1-font-size-20: 20px;
  --typography-mode-1-font-size-24: 24px;
  --typography-mode-1-font-size-30: 30px;
  --typography-mode-1-font-size-36: 36px;
  --typography-mode-1-font-size-48: 48px;
  --typography-mode-1-font-size-60: 60px;
  --typography-mode-1-font-size-72: 72px;
  --typography-mode-1-font-weight-regular: 400;
  --typography-mode-1-font-weight-medium: 500;
  --typography-mode-1-font-weight-semibold: 600;
  --typography-mode-1-font-weight-bold: 700;
  --typography-mode-1-line-height-14: 14px;
  --typography-mode-1-line-height-16: 16px;
  --typography-mode-1-line-height-18: 18px;
  --typography-mode-1-line-height-20: 20px;
  --typography-mode-1-line-height-24: 24px;
  --typography-mode-1-line-height-26: 26px;
  --typography-mode-1-line-height-28: 28px;
  --typography-mode-1-line-height-30: 30px;
  --typography-mode-1-line-height-32: 32px;
  --typography-mode-1-line-height-38: 38px;
  --typography-mode-1-line-height-44: 44px;
  --typography-mode-1-line-height-60: 60px;
  --typography-mode-1-line-height-72: 72px;
  --typography-mode-1-line-height-90: 90px;
  --spacing-style-spacing-4px-1-5-6px: 6px;
  --spacing-style-spacing-4px-8-32px: 32px;
  --spacing-style-spacing-4px-1-4px: 4px;
  --spacing-style-spacing-4px-10-40px: 40px;
  --spacing-style-spacing-4px-0-5-2px: 2px;
  --spacing-style-spacing-4px-12-48px: 48px;
  --spacing-style-spacing-4px-3-12px: 12px;
  --spacing-style-spacing-4px-4-16px: 16px;
  --spacing-style-spacing-4px-16-64px: 64px;
  --spacing-style-spacing-4px-2-8px: 8px;
  --spacing-style-spacing-4px-5-20px: 20px;
  --spacing-style-spacing-4px-20-80px: 80px;
  --spacing-style-spacing-4px-6-24px: 24px;
  --spacing-style-spacing-4px-24-96px: 96px;
  --spacing-style-spacing-4px-32-128px: 128px;
  --radius-mode-1-radius-lg: 10px;
  --radius-mode-1-radius-md: 8px;
  --radius-mode-1-radius-xss: 2px;
  --radius-mode-1-radius-xs: 4px;
  --radius-mode-1-radius-xl: 16px;
  --radius-mode-1-radius-xxl: 20px;
  --radius-mode-1-radius-max: 999px;
  --radius-mode-1-radius-sm: 6px;
}