.arkem-divider {
  border: none;
  margin: 0;
  padding: 0;
}

.arkem-divider--horizontal {
  width: 100%;
  height: 1px;
  background: var(--semantic-border-subtle);
  margin: var(--spacing-16) 0;
}

.arkem-divider--vertical {
  width: 1px;
  height: 100%;
  background: var(--semantic-border-subtle);
  margin: 0 var(--spacing-16);
  display: inline-block;
  vertical-align: middle;
}

